### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/
#Cache folder
.alcache/
#Symbols folder
.alpackages/
#Snapshots folder
.snapshots/
#Testing Output folder
.output/
#Extension App-file
*.app
#Rapid Application Development File
rad.json
#Translation Base-file
*.g.xlf
#License-files
*.bclicense
*.flf
#Test results file
TestResults.xml
.mixin.out
.pg-native
.sable
coremods
cpm
crash-reports
data
!kubejs/data/
!kubejs/data/wlwccc/
!kubejs/data/wlwccc/tags/
!kubejs/data/wlwccc/tags/worldgen/
!kubejs/data/wlwccc/tags/worldgen/biome/
!kubejs/data/wlwccc/tags/worldgen/biome/end_spawn_allowed.json
debug
downloads
dynamic-data-pack-cache
dynamic-resource-pack-cache
ldlib2
local
logs
midi_files
moonlight-global-datapacks
patchouli_books
player_models
saves
schematics
screenshots
server-resource-packs
shaderpacks
texturepacks
xaero
XaeroWaypoints_BACKUP240807
.qmenu_opened.marker
command_history.txt
ears-debug.log
hs_err_pid3780.log
patchouli_data.json
ponders_watched.json
servers.dat
servers.dat_old
usercache.json
usernamecache.json
